* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Gill Sans, sans-serif;
    margin: 2rem 3rem 2rem 3rem;
    color: #2e5e3c;
}

img {
    border-radius: 15px;
}

/* header logo */
.logo {
    margin: auto;
    display: block;
}

/* nav bar */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: lightyellow;
    border-radius: 15px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav ul a {
    text-decoration: none;
}

nav ul a:link {
    color: #2e5e3c;
    font-weight: bold;
} 

nav ul a:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    background-color: #2e5e3c;
    padding: 1rem;
}

/* main */
.discount {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 10%;
    padding-right: 1.5rem;
}

#heading-pic {
    object-fit: cover;
    height: 150px;
    width: 100%;
    margin: 1rem;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
}

article {
    flex: 1;
}

.articles-mid {
    padding: 1rem 1rem;
    background-color: lightyellow;
    margin: 1rem .75rem;
    border-radius: 15px;
}

.articles-img {
    width: 100%;
    object-fit: cover;
}

h1 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    top: 100px;
    left: 20px;
}

h2 {
    font-size: 1.5rem;
}

.hours {
    text-align: left;
    padding-top: 1rem;
}

/* footer */
.footer-container {
    display: flex;
}

#footer-img {
    object-fit: contain;
    width: 30vw;
    height: 50px;
}

.footer-container div {
    flex: 1;
}

.copyright {
    justify-content: end;
}